* {
    font-family: 'Inter', sans-serif;
}

h1 {
    margin-bottom: 0;
    display: block;
    font-size: large;
    text-align: center;
    white-space: pre-line;
    background-color: white;
    padding: 1em;
}

        /* border-bottom: 1px solid #eee; */
    /* border-bottom-color: #eeeeee; */

.poem {
    margin-top: 0;
    text-align: center;
}

.poemtext {
    display: inline-block;
    text-align: left;
    white-space: pre-line;
    background-color: #eee;
    padding: 1em;
    margin-top: 0;
}