* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    overflow-y: scroll; 
    /* background-color: #FBFAF5; */
    background-color: white;
}

.dark {
    background-color: #121212;
    color: white;
}